.mynav {
    background-color: #030331;
}
  .mybody {
    background-color: #030331;
    
  }
  .button2 {
    background-color: white;
    border: none;
    color: blue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    font-size: 16px;
    margin: 4px 2px;
   
  }
  .button5 {border-radius: 12px;}
  .text {
    color: white;
    bottom: 100%;
  }
  .text1 {
    color: blue;
  }
  .mm {
    text-align: center;
    left: 30%;
  }
  .images {
    border-radius: 50%;
    width:330px;
    height:330px;
  }
  .button1 {
    background-color: #030331;
    border: none;
    color: blue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
   
  }
  .button4 {border-radius: 12px;}
  .text {
    color: white;
    bottom: 100%;
  }
  .social-media a {
    width: 4rem;
    height: 4rem;
    border: #030331;
    font-size: 2rem;
  }
 .self {
    color: black;
    text-align: center;
 }
 .bird {
    border-radius: 50%;
    width:300px;
    height:250px;
 }
 .me{
    margin-left: 17%;
 }
 .con{
    color:white;
    text-align: center;
 }


.skills-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill {
  margin-bottom: 15px;
}

.skill-title {
  margin-bottom: 5px;
}

.skill-bar {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  border-radius: 10px;
  background-color: #f1b287;
  position: absolute;
  animation: progress 2s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0;
  }
}
.skillbody {
  font-family: Arial, sans-serif;
  background-color: #030331;
  margin: 0;
  padding: 0;
}
.line {
  text-align: center;
  color: white;
}

.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #f1b287;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
.me8{
  border-radius: 50%;
    width:300px;
    height:300px;
}
.project{
  text-align: center;
}
footer{
  background-color: black;
  color: white;

}
.myh6{
  text-align: center;
  color: white;
}
.own {
  height: 200px;
  width: 300px;
  margin-left: 25px;
}
.contact {
  margin-right: 1%;
}



    

 